.TopBar {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto auto;
    align-items: center;
    gap: 10px; /* space between buttons */
    padding: 10px 20px;
    background-color: rgb(16, 107, 18);
    border-radius: 30px;
}

/* Common button styles */
.TopBar button {
    width: 100px;
    height: 50px;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 255, 51);
    outline: none;
    transition: border-color 0.3s ease;
    transition: transform 0.2s ease;
    border: 2px solid transparent;
}

/* Home button stays left */
.Home button {
    justify-self: start;
}

/* Other buttons aligned to the right */
.Gallery button,
.Shop button,
.About button,
.Account button {
    justify-self: end;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px rgb(255, 255, 255);
    border: 3px solid white;
    
}

button:active {
    transform: scale(0.95);

}
